<html>
	<head>
		<title>Live Video</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
  
	<body>
		<script src="../static/script.js"></script>
		
		<img id="video" src="{{ url_for('video_feed') }}">
		
		</br>
		
		<button onclick="javascript:optionBox('open')">Options</button>
		<div id="light" class="white_content">
			<h3>Options</h3>
			
			<p>Resize</p>
			<button onclick="javascript:resizeVideo('real')">Real Size</button>
			<button onclick="javascript:resizeVideo('fullscreen')">Full Screen</button>
			
			</br>
			<button onclick="javascript:optionBox('close')" class="right">Close</button>
		</div>
		<div id="fade" class="black_overlay"></div>
		
	</body>
</html>
